/* 
    This is sass! write your css with logic
    and make the world a better place.

*/
//import dependencies
@import '~include-media/dist/_include-media.scss';

//COLOR PALETTE
//alternative palette (http://paletton.com/#uid=53K0L0kkHE04z+edQRpoDsLs0ea)

$blue-green: #267689;
$blue-green-light: #65AEB5;
$blue-green-dark: #04545B;

$green: #29AE39;
$green-light: #75D581;
$green-dark: #047312;

$blue: #314C97;
$blue-light: #7489C1;
$blue-dark: #0E2564;

//GRADIENT MIXIN
@mixin radial-gradient($first, $second){
    background: $first; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, $first 0%, $second 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, $first 0%,$second 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, $first 0%, $second 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first endColorstr=$second ,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
}
//MEDIA QUERY BREAKPOINTS
$breakpoints:(
        phone: 640px, 
        tablet: 768px, 
        desktop: 1024px
        ) !default;

@include media(">=phone", "<tablet") {
    body{
        padding-left:10%;
        padding-right:10%;
    }
}

@include media(">=tablet", "<=950px") {
        padding-left:20%;
        padding-right:20%;
}
@include media(">=desktop") {
        padding-left:30%;
        padding-right:30%;
}

html{
    height:100%;
    background-size:cover;
    background:radial-gradient($blue-green-light,$blue-green-dark)
}

body{
    height:100%;
    font:arial;
    padding:20px 35%;
    .wrapper{
       // margin:0 15%;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }
}