/* 
    This is sass! write your css with logic
    and make the world a better place.

*/


body{
        background-color:lightskyblue;
        font:arial;
        .wrapper{
            border:1px solid white;
        }
    }